extends ../layout

block content
  .columns
    .column.is-12.has-text-centered
      h2 Create new event
  .columns
    form(method='POST', action='/events', class='column is-6 is-offset-3')
      .field
        label.label Name
        .control
          input(class='input', type='text', placeholder='SUT Data Server', name='name')
      .field
        label.label Description
        .control
          input(class='input', type='textarea', placeholder='MongoDB + Node.js + Pug Tutorial', name='description')
      .field
        label.label Location
        .control
          input(class='input', type='text', placeholder='Playground F1', name='location')
      .field
        .control
          button.button.is-primary Submit
