* {
  font-family: 'Varela Round', sans-serif;
}

.event-list .card {
	display: flex;
	justify-content: space-between;
}

.content {
	margin: 2em auto;
}

.footer {
	padding: 3rem 1.5rem;
}

.card .title {
	color: #fff;
}

.button-new {
  margin-left: 16px;
}
